rm CMakeCache.txt
rm -rf CMakeFiles

cmake \
    -D CMAKE_CXX_COMPILER:FILEPATH=mpicxx \
    -D CMAKE_C_COMPILER:FILEPATH=mpicc \
    -D CMAKE_Fortran_COMPILER:FILEPATH=mpif90 \
    -D CMAKE_BUILD_TYPE:STRING="RELEASE" \
    -D Taurus_ENABLE_CPP11:BOOL=ON \
    -D Taurus_ENABLE_STRONG_CXX_COMPILE_WARNINGS:BOOL=OFF \
    -D Taurus_ENABLE_ALL_PACKAGES:BOOL=ON \
    -D Taurus_ENABLE_Core:BOOL=ON \
    -D Taurus_ENABLE_ADR:BOOL=ON \
    -D Taurus_ENABLE_CSM:BOOL=ON \
    -D Taurus_ENABLE_TESTS:BOOL=ON \
    -D Taurus_ENABLE_EXAMPLES:BOOL=OFF \
    -D TPL_ENABLE_MPI:BOOL=ON \
    -D TPL_ENABLE_HDF5:BOOL=ON \
    -D TPL_METIS_INCLUDE_DIRS:PATH=/usr/include/metis \
    -D TPL_METIS_LIBRARY_DIRS:PATH=/usr/lib \
    -D TPL_MPI_INCLUDE_DIRS:STRING=/usr/lib/openmpi/include \
    -D TPL_MPI_LIBRARIES:STRING=/usr/lib/openmpi/lib \
    -D TPL_ENABLE_Boost:BOOL=ON \
    -D TPL_ENABLE_HDF5:BOOL=ON \
    -D Boost_INCLUDE_DIRS:PATH=/usr/include \
    -D TPL_Boost_INCLUDE_DIRS:PATH=/usr/include \
    -D Boost_LIBRARY_DIRS:PATH=/usr/lib \
    -D Trilinos_INCLUDE_DIRS:PATH=/usr/scratch/forti/LIBRARIES/trilinos-11.12.1-Install/include \
    -D Trilinos_LIBRARY_DIRS:PATH=/usr/scratch/forti/LIBRARIES/trilinos-11.12.1-Install/lib \
    -D ParMETIS_INCLUDE_DIRS:PATH=/usr/include/parmetis \
    -D ParMETIS_LIBRARY_DIRS:PATH=/usr/lib \
    -D TPL_ENABLE_HDF5:BOOL=ON \
    -D HDF5_INCLUDE_DIRS:PATH=/usr/scratch/forti/LIBRARIES/hdf5-1.8.11-install/include \
    -D HDF5_LIBRARY_DIRS:PATH=/usr/scratch/forti/LIBRARIES/hdf5-1.8.11-install/lib \
    -D TPL_ENABLE_LifeV:BOOL=ON \
    -D LifeV_INCLUDE_DIRS:PATH=/usr/scratch/forti2/LifeV_github/install/include \
    -D LifeV_LIBRARY_DIRS:PATH=/usr/scratch/forti2/LifeV_github/install/lib \
    /usr/scratch/forti2/LifeV/RTRed/src
